<html>
<head>
    <title>Spring Security Example </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!— Bootstrap CSS —>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Account</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/transaction">Transaction</a> <!-- Список всех транзакций проведённых -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/filter">Filter</a><!-- Фильтр транзакций которые не прошли -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userInfo">Information</a> <!-- нужно добавить эту ссылку в код-->
                </li>


            </ul>
            <div>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    <button class="btn btn-primary" type="submit">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container mt-5">
</div>
<!— Optional JavaScript; choose one of the two! —>

<!— Option 1: Bootstrap Bundle with Popper —>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!— Option 2: Separate Popper and Bootstrap JS —>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>

<body>
<div>


    <table class="navbar-nav me-auto mb-2 mb-lg-0" cellpadding="20">
        <tr>
            <td> <b>Баланс:</b> </td>
            <td> 1000000 </td> <!-- Исправить откуда берётся цифра, не из головы -->
            <td> <div>

                <form method="post"> <!--с ввожу сюда сумму новой транзакции-->
                    <input type="text" name="account_id" placeholder="Откуда"/>
                    <input type="text" name="account_id2" placeholder="Куда"/>
                    <input type="text" name="sum" placeholder="id"/>

                    <button  class="btn btn-primary" > Отменить транзакцию </button>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                </form>

            </div>
            </td>
        </tr>
    </table>

</div>


<div>Список счетов:</div>
<table align="center" cellpadding="20">
    {{#bankAccounts}}
        <tr>
            <td> <b>{{bankid}}</b> </td>
            <td> <b>{{accountid}}</b> </td>
            <td>  <b>{{clientid}}</b></td>
            <td> <b>{{balance}}</b></td>
            <td>  <b>{{actype}}</b></td>
            <td> <b>{{status}}</b></td>
        </tr>
    {{/bankAccounts}}
</table>



</body>

</html>